
@using SatisMVC.Models
<html>
<body style="background: url(/Content/background2.jpg); background-size: cover;">

    @if (ViewBag.Mesaj != null)
    {
        <h2>@ViewBag.Mesaj</h2>
    }

    <style>
        #nav {
            line-height: 25px;
            background-color: white;
            height: auto;
            width: 400px;
            float: left;
            padding: 5px;
            opacity: 0.9;
            margin-top: 25%;
            opacity: 0.9;
        }


        #section {
            line-height: 25px;
            background-color: white;
            height: 600px;
            width: 810px;
            float: left;
            padding: 5px;
            opacity: 0.9;
        }




        #footer {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;
        }
    </style>
    <div class="col-lg-12">
        <div class="col-lg-4">
            <div id="nav">

                <ul class="list-group">
                    <li style="width:100% !important;" class="list-group-item">
                        <a href="/Home/adminfotografmakinesiekle">
                            <span class="menu-title">fotoğraf makinesi  ekle</span>
                        </a>
                    </li>
                    <li style="width:100% !important;" class="list-group-item">
                        <a href="/Home/adminaracekle">
                            <span class="menu-title">otomobil ekle</span>
                        </a>
                    </li>

                    <li style="width:100% !important;" class="list-group-item">
                        <a href="/Home/adminbilgisayarekle">
                            <span class="menu-title">bilgisayar ekle</span>
                        </a>
                    </li>



                    <li style="width:100% !important;" class="list-group-item">
                        <a href="/Home/admintelefonekle">
                            <span class="menu-title">telefon ekle</span>
                        </a>
                    </li>


                    <li style="width:100% !important;" class="list-group-item">
                        <a href="/Home/admintabletekle">
                            <span class="menu-title">tablet ekle</span>
                        </a>
                    </li>

                </ul>


            </div>
        </div>
        <div class="col-lg-8">
            <div id="section">

                @using (Html.BeginForm("adminTelefonDuzenle", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" value="@Model.telefon_id" name="telefonid" />
                    <div class="panel panel-green" style="margin-top:8%">
                        <div class="panel-body pan">
                            <form action="/Home/admintelefonduzenle" class="form-horizontal" method="get">
                                <div class="form-body pal">
                                </div>

                                <div class="form-group">
                                    <label for="krediCheck" class="col-md-3 control-label">
                                        marka
                                    </label>
                                    <div class="col-md-9">

                                        <div class="input-icon right">

                                            <i class="fa fa-sort-numeric-asc"></i>

                                            <input name="telefonmarka" value="@Model.telefon_marka" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="nameCheck" class="col-md-3 control-label">
                                        model
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa fa-bars"></i>
                                            <input name="telefonmodel" value="@Model.telefon_model" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="nameCheck" class="col-md-3 control-label">
                                        isletimsistemi
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa fa-bars"></i>
                                            <input name="telefonisletim" value="@Model.telefon_isletim_sistemi" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="nameCheck" class="col-md-3 control-label">
                                        cozunurluk
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa fa-bars"></i>
                                            <input name="telefoncozunurluk" value="@Model.telefon_cozunurluk" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="nameCheck" class="col-md-3 control-label">
                                        telefonboyut
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa fa-bars"></i>
                                            <input name="telefonboyut" value="@Model.telefon_boyut" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="nameCheck" class="col-md-3 control-label">
                                        arkakamera
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa fa-bars"></i>
                                            <input name="telefonarkakamera" value="@Model.telefon_arka_kamera" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="nameCheck" class="col-md-3 control-label">
                                        onkamera
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa fa-bars"></i>
                                            <input name="telefononkamera" value="@Model.telefon_on_kamera" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="nameCheck" class="col-md-3 control-label">
                                        ram
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa fa-bars"></i>
                                            <input name="telefonram" value="@Model.telefon_ram" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nameCheck" class="col-md-3 control-label">
                                        hafiza
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa fa-bars"></i>
                                            <input name="telefonhafiza" value="@Model.telefon_hafiza" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nameCheck" class="col-md-3 control-label">
                                        garanti
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa fa-bars"></i>
                                            <input name="telefongaranti" value="@Model.telefon_garanti" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-actions pal">
                                    <div class="form-group mbn">
                                        <div class="col-md-offset-3 col-md-6">
                                            <button type="submit" id="deneme" class="btn btn-primary">
                                                Telefon duzenle
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>




</body>

</html>

