<html>
<body style="background: url(/Content/background2.jpg); background-size: cover" ">

    @{
        Db_incelemeEntities db = new Db_incelemeEntities();
        int a = Int32.Parse(Session["kullaniciAdmin"].ToString());



        if (ViewBag.Mesaj != null)
        {
            <h2>@ViewBag.Mesaj</h2>
        }







        <style>
            #nav {
                line-height: 25px;
                background-color: white;
                height: 700px;
                width: 255px;
                float: left;
                padding: 5px;
                opacity: 0.9;
            }


            #section {
                line-height: 25px;
                background-color: white;
                height: 700px;
                width: 810px;
                float: left;
                padding: 5px;
                opacity: 0.9;
            }



            #aside {
                line-height: 25px;
                background-color: white;
                height: 700px;
                width: 450px;
                float: left;
                padding: 5px;
                opacity: 0.9;
            }
        </style>


        <div id="nav">

            <li>
                <a href="/Home/adminfotografmakinesiekle">
                    <i class="fa fa-book fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">fotoğraf makinesi  ekle</span>
                </a>
            </li>
            <li>
                <a href="/Home/adminaracekle">
                    <i class="fa fa-book fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">otomobil ekle</span>
                </a>
            </li>

            <li>
                <a href="/Home/adminbilgisayarekle">
                    <i class="fa fa-user fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">bilgisayar ekle</span>
                </a>
            </li>

            <li>
                <a href="/Home/admintelefonekle">
                    <i class="fa fa-user fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">telefon ekle</span>
                </a>
            </li>
            <li>
                <a href="/Home/admintabletekle">
                    <i class="fa fa-user fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">tablet ekle</span>
                </a>
            </li>


        </div>








        @*  <div id="wrapper">
                   <!--BEGIN SIDEBAR MENU-->
                   <nav id="sidebar" role="navigation" data-step="2" data-position="right" class="navbar-default navbar-static-side" style="min-height: 100%;">

                   </nav>
                   <!--END SIDEBAR MENU-->
                   <!--BEGIN PAGE WRAPPER-->
                   <div id="page-wrapper">


            <div class="pace-done animated flash">

        *@


        <div id="section">
            <div class="panel panel-green" style="margin-top:8%">
                <div class="panel-body pan">
                    <form action="/Home/admintelefonekle" class="form-horizontal" method="post">
                        <div class="form-body pal">

                            <div class="form-group">
                                <label for="krediCheck" class="col-md-3 control-label">
                                    marka
                                </label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-sort-numeric-asc"></i>
                                        <input name="telefonmarka" placeholder="telefonmarka" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nameCheck" class="col-md-3 control-label">
                                    model
                                </label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-bars"></i>
                                        <input name="telefonmodel" placeholder="telefonmodel giriniz" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nameCheck" class="col-md-3 control-label">
                                    isletim
                                </label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-bars"></i>
                                        <input name="telefonisletimsistemi" placeholder="isletim giriniz" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nameCheck" class="col-md-3 control-label">
                                    cozunurluk
                                </label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-bars"></i>
                                        <input name="telefoncozunurluk" placeholder="telefoncozunurluk giriniz" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="nameCheck" class="col-md-3 control-label">
                                    boyut
                                </label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-bars"></i>
                                        <input name="telefonboyut" placeholder="telefonboyut giriniz" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="nameCheck" class="col-md-3 control-label">
                                    arkakamera
                                </label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-bars"></i>
                                        <input name="telefonarkakamera" placeholder="arkakamera giriniz" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nameCheck" class="col-md-3 control-label">
                                    onkamera
                                </label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-bars"></i>
                                        <input name="telefononkamera" placeholder="onkamera giriniz" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nameCheck" class="col-md-3 control-label">
                                    ram
                                </label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-bars"></i>
                                        <input name="telefonram" placeholder="ram giriniz" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="nameCheck" class="col-md-3 control-label">
                                    hafiza
                                </label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-bars"></i>
                                        <input name="telefonhafiza" placeholder="hafiza giriniz" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="nameCheck" class="col-md-3 control-label">
                                    garanti
                                </label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-bars"></i>
                                        <input name="telefongaranti" placeholder="garanti giriniz" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>


                            @*     <div class="form-group">
                                    <label for="nameCheck" class="col-md-3 control-label">
                                        resim
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <i class="fa fa-bars"></i>
                                            <input name="resim" placeholder="resim giriniz" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                            *@


                        </div>
                        <div class="form-actions pal">
                            <div class="form-group mbn">
                                <div class="col-md-offset-3 col-md-6">
                                    <button type="submit" id="deneme" class="btn btn-primary">
                                        telefon Ekle
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="aside">

            <div>


                <form action="/Home/admintelefonekle" method="post">

                    @{
                        Db_incelemeEntities db1 = new Db_incelemeEntities();
                        string nulValue = " " + "/" + " ";

                        var sorgu = (from q in db.Telefons select new { q.telefon_arka_kamera,q.telefon_boyut,q.telefon_cozunurluk,q.telefon_garanti,q.telefon_hafiza,q.telefon_isletim_sistemi,q.telefon_ram,q.telefon_on_kamera,q.telefon_marka, q.telefon_model, q.telefon_id }).ToArray();
                        <ul style=" list-style-type: none !important;">
                            @for (int i = 0; i < sorgu.Count(); i++)
                            {
                                <li>


                                    <input type="radio" class="checkboxGet" value="@sorgu[i].telefon_id" name="silme" onchange="callCheck()" />
                                    @sorgu[i].telefon_marka
                                    @nulValue
                                    @sorgu[i].telefon_model
                                    @nulValue
                                    @sorgu[i].telefon_arka_kamera
                                    @nulValue
                                    @sorgu[i].telefon_boyut
                                    @nulValue
                                    @sorgu[i].telefon_cozunurluk
                                    @nulValue
                                    @sorgu[i].telefon_garanti
                                    @nulValue
                                    @sorgu[i].telefon_hafiza
                                    @nulValue
                                    @sorgu[i].telefon_isletim_sistemi
                                    @nulValue
                                    @sorgu[i].telefon_on_kamera
                                    @nulValue
                                    @sorgu[i].telefon_ram
                                    @nulValue
                                </li>
                            }

                        </ul>
                        <br />
                        <button type="submit" name="sil" class="btn btn-primary" style="margin-bottom:5px;">
                            Telefon sil
                        </button>

                    }
                </form>
                <form action="/Home/admintelefonduzenle" method="get">
                    @{

                        Db_incelemeEntities db2 = new Db_incelemeEntities();

                        var sorguu = (from q in db.Telefons select new { q.telefon_marka, q.telefon_id }).ToArray();


                        for (int i = 0; i < sorgu.Count(); i++)
                        {
                            <input type="hidden" id="hdVal" value="@sorguu[i].telefon_id" name="duzenle" />
                        }
                        <button type="submit" name="duzen" class="btn btn-primary">
                            Telefon Duzenle
                        </button>
                    }
                </form>
            </div>

        </div>



            <!--END PAGE WRAPPER-->


    }

</body>

</html>
<script>
    function callCheck() {
        var checkedValue = null;
        var inputElements = document.getElementsByClassName('checkboxGet');
        for (var i = 0; inputElements[i]; ++i) {
            if (inputElements[i].checked) {
                checkedValue = inputElements[i].value;
                break;
            }
        }
        document.getElementById('hdVal').value = checkedValue;
        console.log(checkedValue);

    }



</script>
