@using SatisMVC;
@{
    ViewBag.Title = "araclar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>ARAÇLAR</h2>


    <html>
    <body style="background: url(/Content/background42.jpg); background-size: cover;">




        @{
            Db_incelemeEntities db = new Db_incelemeEntities();
            var sorgu = (from q in db.Otomobils where q.otomobil_id != null select new { q.otomobil_marka, q.otomobil_model, q.otomobil_kasatipi, q.otomobil_km, q.otomobil_motorgucu, q.otomobil_renk, q.otomobil_vites, q.otomobil_yil }).ToArray();


        }
        <style>
            #section {
                line-height: 25px;
                background-color: white;
                height: 450px;
                width: 1500px;
                float: left;
                padding: 5px;
                opacity: 0.9;
            }
        </style>
        <div id="section">


            <table class="table table-striped table-hover ">
                <thead>
                    <tr class="active">
                        <th></th>
                        <th>Otomobil Marka</th>
                        <th>Otomobil Model</th>
                        <th>Otomobil Kasa Tipi </th>
                        <th>Otomobil Motor Gücü </th>
                        <th>Otomobil KM</th>
                        <th>Otomobil Renk</th>
                        <th>Otomobil Vites</th>
                        <th>Otomobil Yıl</th>
                    </tr>
                </thead>
                @{

                    for (int i = 0; i < sorgu.Count(); i++)
                    {


                        <tbody>
                            <tr class="info">
                                <td></td>
                                <td>@sorgu[i].otomobil_marka</td>
                                <td>@sorgu[i].otomobil_model</td>
                                <td>@sorgu[i].otomobil_kasatipi</td>
                                <td>@sorgu[i].otomobil_motorgucu</td>
                                <td>@sorgu[i].otomobil_km</td>
                                <td>@sorgu[i].otomobil_renk</td>
                                <td>@sorgu[i].otomobil_vites</td>
                                <td>@sorgu[i].otomobil_yil</td>

                            </tr>

                        </tbody>
                    }
                }
            </table>
        </div>
    </body>
</html>
