@{
    ViewBag.Title = "bilgisayarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<html>
<body style="background: url(/Content/background31.jpg); background-size: cover;">
    @{
        Db_incelemeEntities db = new Db_incelemeEntities();
        var sorgu = (from q in db.Bilgisayars where q.bilgisayar_id != null select new { q.bilgisayar_marka, q.bilgisayar_model, q.bilgisayar_ram, q.bilgisayar_boyut, q.bilgisayar_hafiza, q.bilgisayar_isletim_sistemi, q.bilgisayar_ekrankarti_model, q.bilgisayar_ekrankarti_boyut, q.bilgisayar_garanti }).ToArray();
    }


    <style>
        #section {
            line-height: 25px;
            background-color: white;
            height: 450px;
            width: 1500px;
            float: left;
            padding: 5px;
            opacity: 0.9;
        }
    </style>
    <div id="section">

        <h2>BİLGİSAYARLAR</h2>

        <table class="table table-striped table-hover ">

            <thead>

                <tr class="active">

                    <th></th>
                    <th>Bilgisayar Marka</th>
                    <th>Bilgisayar Model</th>
                    <th>Bilgisayar Ram  </th>
                    <th>Bilgisayar Boyut</th>
                    <th>Bilgisayar Hafıza</th>
                    <th>Bilgisayar İsletim Sistemi</th>
                    <th>Bilgisayar Ekran Kartı Model</th>
                    <th>Bilgisayar Ekran Kartı Boyut</th>
                    <th>Bilgisayar Garanti</th>

                </tr>
            </thead>
            @{

                for (int i = 0; i < sorgu.Count(); i++)
                {
                    <tbody>
                        <tr class="success">
                            <td></td>
                            <td>@sorgu[i].bilgisayar_marka</td>
                            <td>@sorgu[i].bilgisayar_model</td>
                            <td>@sorgu[i].bilgisayar_ram</td>
                            <td>@sorgu[i].bilgisayar_boyut</td>
                            <td>@sorgu[i].bilgisayar_hafiza</td>
                            <td>@sorgu[i].bilgisayar_isletim_sistemi</td>
                            <td>@sorgu[i].bilgisayar_model</td>
                            <td>@sorgu[i].bilgisayar_ekrankarti_boyut</td>
                            <td>@sorgu[i].bilgisayar_garanti</td>

                        </tr>

                    </tbody>
                }
            }
        </table>
        </div>
</body>
</html>