@{
    ViewBag.Title = "fotografMakineler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FOTOĞRAF MAKİNELERİ</h2>

<html>
<body style="background: url(/Content/background40.jpg); background-size: cover;">
    @{
        Db_incelemeEntities db = new Db_incelemeEntities();


        var sorgu = (from q in db.Fotograf_Makinesi where q.fotoğraf_id != null select new { q.fotoğraf_marka, q.fotoğraf_model, q.fotoğraf_cozunurluk, q.fotoğraf_ekranboyutu, q.fotoğraf_garanti }).ToArray();
    }


    <style>
        #section {
            line-height: 25px;
            background-color: white;
            height: 450px;
            width: 1500px;
            float: left;
            padding: 5px;
            opacity: 0.9;
        }
    </style>
    <div id="section">

        <table class="table table-striped table-hover ">
            <thead>
                <tr class="active">
                    <th></th>
                    <th>Fotoğraf Makine Marka</th>
                    <th>Fotoğraf Makine Model</th>
                    <th>Fotoğraf Makine Çözünürlük</th>
                    <th>Fotoğraf Makine Ekran</th>
                    <th>Fotoğraf Makine Garanti</th>


                </tr>
            </thead>
            @{

                for (int i = 0; i < sorgu.Count(); i++)
                {


                    <tbody>
                        <tr class="warning">
                            <td></td>
                            <td>@sorgu[i].fotoğraf_marka</td>
                            <td>@sorgu[i].fotoğraf_model</td>
                            <td>@sorgu[i].fotoğraf_cozunurluk</td>
                            <td>@sorgu[i].fotoğraf_ekranboyutu</td>
                            <td>@sorgu[i].fotoğraf_garanti</td>


                        </tr>

                    </tbody>
                }
            }
        </table>
        </div>
</body>
</html>